
#toolbox {
    background-color: white;
    width: 15%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    position: fixed;
    padding: 10px;
    padding-right: 0px;
}


#workspace {
    position: absolute;
    border: 1px solid black;
    height: 100%; 
    width: 60%;

    top: 5px;
    left: 20%;

    z-index: -10;
    background-repeat: no-repeat;

    overflow: scroll;
    /*cursor: crosshair;*/
    cursor: none;
}

#canvas {
    top: 0px;
    left: 0px;
    border: 1px solid red;
}

#output {
    position: fixed;
    top: 5px;
    left: 84%;
    width: 15%;
    height: 500px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;

}

em {
    cursor: pointer;
}
